/*=============
.bg_pattern背景
==============*/

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fcfaca;
  opacity: 0.4;
  z-index: -1;
}

.Polka {
  background-image: radial-gradient(#ffc107 2px, #ffffff 2px);
  background-size: 20px 20px;
}

/*=============
base
==============*/

html,
body {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  letter-spacing: .025em;
  line-height: 1.8;
}

* {
  box-sizing: border-box;
}


._a a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.0em 1.0em;
  border: 1px solid #222222;
  background: linear-gradient(to right, #ffffff 50%, #222222 50%);
  background-size: 200% auto;
  color: #222222;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  transition: .3s;
  position: relative;
}

._a a:after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #222222;
}

._a a:hover {
  color: #ffffff;
  background-position: -100% 0;
}

/*タイトルの枠*/
#title_set {
  position: relative;
}

h1 {
  background-color: #f5d5da;
  /* 背景色 */
  border-radius: 5px;
  color: #ef858c;
  /* 文字色 */
  padding: 15px 10px 15px 60px;
  /* 上・右・下・左の余白 */
  position: relative;
  font-size: 25px;
  text-shadow: 0px 0px 10px #fff, 0px 0px 6px #fff, 0px 0px 4px #fff, 0 0 0.5px #fff;
  /* 文字の影 */
}

h1:before {
  content: '＊*';
  /*花に見せかけるためのアスタリスク*/
  color: #fff;
  /* アスタリスクの色 */
  display: inline-block;
  font-size: 30px;
  /* アスタリスクの大きさ */
  font-weight: bold;
  margin-right: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  text-shadow: 0px 0px 3px #fff, 0px 0px 2px #fff, 0 0 0.5px #fff;
  /* アスタリスク周りの影 */
}

h1:after {
  border-bottom: 2px dotted #fff;
  /* 下線 */
  content: '';
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
}


#icon_box {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

#tittle_icon {
  width: 75px;
}

/*日時、曜日の黒板*/
.kokuban {
  position: relative;
  margin: 1em auto;
  padding: 4em 1em 0;
  width: 85%;
  background-color: #006633;
  color: #fff;
  border: 8px solid #b2771f;
  border-radius: 3px;
  box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
  line-height: 2em;
  font-size: 17px;
}

.kokuban::before,
.kokuban::after {
  position: absolute;
  content: '';
  bottom: 0;
}

.kokuban::before {
  right: 10px;
  border: solid 3px #fff;
  width: 20px;
  border-radius: 3px 2px 0 2px;
}

.kokuban::after {
  right: 40px;
  border: solid 3px #ffff6b;
  width: 15px;
  border-radius: 8px 5px 2px 5px;
}

.title {
  position: absolute;
  top: .8em;
  font-weight: bold;
  font-size: 1.3em;
  color: #ffff6b;
}

/*ハムスターの吹き出しエリア*/
.balloon5 {
  transform-origin: left top;
  animation: balloonAnime 3s ease-out 0s infinite normal both;
  width: 90%;
  margin: 0 0 0 1.5em;
}

@keyframes balloonAnime {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.05);
  }

  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.02);
  }

  40% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 87px;
}

.balloon5 .faceicon img {
  width: 125%;
  height: auto;
  /* border: solid 3px #d7ebfe;  丸の輪っかをはずした*/
  /* border-radius: 50%;*/

}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #fad5e6;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #fad5e6;
}

.says p {
  margin: 0;
  padding: 0;
}

/* ボタン */
.button_solid015 {
  text-align: center;
}

.button_solid015 p {
  margin-bottom: 5px;
  font-weight: 600;
  color: #10a134;
  letter-spacing: 0.04rem;
  display: inline-block;
  position: relative;
}

.button_solid015 p:before,
.button_solid015 p:after {
  display: inline-block;
  position: absolute;
  top: 45%;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: #10a134;
  content: "";
}

.button_solid015 p:before {
  left: -30px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

.button_solid015 p:after {
  right: -30px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.button_solid015 a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 150px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #10a134;
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 50px;
  font-size: x-large;
  text-decoration: none;
}

.button_solid015 a:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}

.button_solid015 a:after {
  position: absolute;
  top: 50%;
  right: 20px;
  transition: 0.2s ease-in-out;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transform: translateY(-54%);
}

.menu-btn {
  position: fixed;
  top: 525px;
  left: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: pink;
  border-radius: 15px;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked~.menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked~.menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #3584bb;
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: palevioletred;
  transition: all 0.5s;
  /*アニメーション設定*/
}

#menu-btn-check:checked~.menu-content {
  left: 0;
  /*メニューを画面内へ*/
}