/*タイトルの枠*/

.title {
    border-bottom: 3px solid #bc8f8f;
    text-align: left;
    background-color: #ffe4e1;
    font-size: 24px;
    color: #000;
    margin: 0px;
    padding: 15px 5px 5px 15px;
    width:400px;
    }

.content {
    text-align: left;
}


/*ハムスターの吹き出しエリア*/
.balloon5 {
    transform-origin: left top;
    animation: balloonAnime 3s ease-out 0s infinite normal both;
    width: 100%;
    padding: 5px 20px 0px 20px; 
    overflow: hidden;
  }
  
  @keyframes balloonAnime {
    0% { transform: scale(1); }
    10% { transform: scale(1.05); }
    20% { transform: scale(1); }
    30% { transform: scale(1.02); }
    40% { transform: scale(1); }
    100% { transform: scale(1); }
  }
  
  .balloon5 .faceicon {
    float: left;
    margin-right: -90px;
    width: 87px;
  }
  
  .balloon5 .faceicon img{
    width: 125%;
    height: auto;
   /* border: solid 3px #d7ebfe;  丸の輪っかをはずした*/
    /*border-radius: 50%;円*/
    
  }
  
  .balloon5 .chatting {
    width: 100%;
  }
  
  .says {
    display: inline-block;
    position: relative; 
    margin: 20px 0 0 100px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #fad5e6;
  }
  
  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #fad5e6;
  }
  
  .says p {
    margin: 0;
    padding: 0;
  }
  
  /* solid015 */
  .button_solid015 {
    text-align: center;
  }
  .button_solid015 p {
    margin-bottom: 5px;
    font-weight: 600;
    color: #10a134;
    letter-spacing: 0.04rem;
    display: inline-block;
    position: relative;
  }
  .button_solid015 p:before, .button_solid015 p:after {
    display: inline-block;
    position: absolute;
    top: 45%;
    width: 20px;
    height: 3px;
    border-radius: 5px;
    background-color: #10a134;
    content: "";
  }
  .button_solid015 p:before {
    left: -30px;
    -webkit-transform: rotate( 50deg );
    transform: rotate( 50deg );
  }
  .button_solid015 p:after {
    right: -30px;
    -webkit-transform: rotate( -50deg );
    transform: rotate( -50deg );
  }
  .button_solid015 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #10a134;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 50px;
  }
  .button_solid015 a:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
  }
  .button_solid015 a:after {
    position: absolute;
    top: 50%;
    right: 20px;
    transition: 0.2s ease-in-out;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transform: translateY(-54%);
  }
  
