

.arrow_right {
    position: relative;
    padding-left: 25px;
}

.arrow_right::before {
    /* くの字の表示設定 */
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2px;
    width: 13px;
    /* くの字を山なりに見た時、左側の長さ */
    height: 13px;
    /* くの字を山なりに見た時、右側の長さ */
    border-top: 3px solid #000;
    /* くの字を山なりに見た時、左側の太さと色 */
    border-right: 3px solid #000;
    /* くの字を山なりに見た時、右側の太さと色 */
    transform: rotate(45deg);
    /* くの字の向き */
}

/* →の棒部分 */
.arrow_right::after {
    /* 棒の表示設定 */
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    width: 18px;
    /* 棒の長さ */
    height: 3px;
    /* 棒の太さ */
    background: #000;
    /* 棒の色 */
}

/* タイトルのリボン枠 */
.all_clear{
    position: relative;
    padding:3px 0;
    color:#ffffff;
    zoom: 1;
    background: red;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.3);
    box-shadow:0 1px 3px rgba(0,0,0,0.3);
  }
  .all_clear:before,
  .all_clear:after {
    content: "";
    position: absolute;
    top: 0;
    top:13px;
    height: 0;
    width: 0;
    border: 26px solid red;
    z-index:-1;
  }
  .all_clear:before {
    right: -42px;
    border-right-color: transparent;
  }
  .all_clear:after {
    left: -42px;
    border-left-color: transparent;
  }
  .all_clear2:before,.sample2:after {
    content: "";
    position: absolute;
    top: 100%;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top: 5px solid #ba040d;
  }
  .all_clear2:before {
    right: 0;
    border-left: 5px solid #ba040d;
  }
  .all_clear2:after {
    left: 0;
    border-right: 5px solid #ba040d;
  }
  .all_clear span{
    display:block;
    border-top:1px dashed #fff;
    border-bottom:1px dashed #fff;
    padding:10px;
  }

.movie_box {
    width: 100%;
    height: calc(185px + 100px);
}

/* フェードインさせる */

.present_box {
    position: relative;
    width: 180px;
    margin-left: auto;
    margin-right: auto;

    opacity: 0;
    /* ↓秒数はjavaにも記述 */
    transition: 3.0s;
    padding-top: 0px;
}


.present_box.showUp {
    opacity: 1;
    padding-top: 100px;
}

.present,
.himawari {
    position: absolute;
    width: 100%;
    transition: 2.0s;
}

.himawari {
    opacity: 0;
}

.himawari.UP {
    opacity: 1;
}

.present.DOWN {
    opacity: 0;
    transition: 1.0s;
}

/*ハムスターの吹き出しエリア*/
.balloon5 {
    transform-origin: left top;
    animation: balloonAnime 3s ease-out 0s infinite normal both;
    width: 100%;
    margin: 0 0 0 1.5em;
    overflow: hidden;
  }
  
  @keyframes balloonAnime {
        /*ふわふわゆれる 
        0% {
          transform:translate(0, 0) rotate(-7deg);
        }
        50% {
          transform:translate(0, -7px) rotate(0deg);
        }
        100% {
          transform:translate(0, 0) rotate(7deg);
        } */

        /* ぽよよんとゆれる */
         0%, 40% {
            transform: skew(0deg, 0deg);
          }
          5% {
            transform: skew(5deg, 5deg);
          }
          10% {
            transform: skew(-4deg, -4deg);
          }
          15% {
            transform: skew(3deg, 3deg);
          }
          20% {
            transform: skew(-2deg, -2deg);
          }
          25% {
            transform: skew(1deg, 1deg);
          }
          30% {
            transform: skew(-0.6deg, -0.6deg);
          }
          35% {
            transform: skew(0.3deg, 0.3deg);
          } 
    
    
  }
  
  .balloon5 .faceicon {
    float: left;
    margin-right: -90px;
    width: 87px;
  }
  
  .balloon5 .faceicon img{
    width: 125%;
    height: auto;
   /* border: solid 3px #d7ebfe;  丸の輪っかをはずした*/
   /* border-radius: 50%;*/
    
  }
  
  .balloon5 .chatting {
    width: 100%;
  }
  
  .says {
    display: inline-block;
    position: relative; 
    margin: 5px 0 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #fad5e6;
  }
  
  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #fad5e6;
  }
  
  .says p {
    margin: 0;
    padding: 0;
  }
  