.arrow_right {
    position: relative;
    padding-left: 25px;
}

.arrow_right::before {
    /* くの字の表示設定 */
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2px;
    width: 13px;
    /* くの字を山なりに見た時、左側の長さ */
    height: 13px;
    /* くの字を山なりに見た時、右側の長さ */
    border-top: 3px solid #000;
    /* くの字を山なりに見た時、左側の太さと色 */
    border-right: 3px solid #000;
    /* くの字を山なりに見た時、右側の太さと色 */
    transform: rotate(45deg);
    /* くの字の向き */
}

/* →の棒部分 */
.arrow_right::after {
    /* 棒の表示設定 */
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    width: 18px;
    /* 棒の長さ */
    height: 3px;
    /* 棒の太さ */
    background: #000;
    /* 棒の色 */
}


/* フェードインさせる */
.present_box {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.present {
    width: 100%;
}