.movie_box {
    width: 100%;
    height: calc(185px + 100px);
    /*↑ 5.cssと共通 */
    position: relative;
    text-align: center;
}

/* .hum_box {
    width: 180px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
} */

.kyoton {
    /* position: absolute; */
    z-index: 0;
    width: 180px;

}

.movie_box button {
    z-index: 10;
    position: absolute;
    width: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 70px;
}

.himawari {
    position: absolute;
    width: 180px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 25px
}