@charset "utf-8";
@media screen and (max-width:480px) {
 
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
 
}
/* ここは小松さんがcss（①・②）をする場所 */




/* ここまで */


/* ここは村上さんがcss(③・④)をする場所*/

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

/* ここは見出しエリア */

.context {
    font-size: 80px;
    color: blue;
    writing-mode: vertical-rl;
    margin-left: 25%;
}

.image {
    margin-left: 26%;
}

/* ここまで */

/* ここはボタンエリア */

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



.Button-style {
    width: 300px;
    font-size: 30px;
    display: inline-block;
    padding: 0.5em 1em 0.3em;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background-color: #ffcc00;
    cursor: pointer;
    margin-left: 18%;
    margin-top: 80px;
    margin-bottom: 50px;
  }

/* ここまでボタンエリア */


/*ここはタイマーエリア */

  .timer {
    text-align: center;
    margin-bottom: 10px;
  }

  .stat_stop {
    text-align: center;
  }
  
  /*ここまでタイマーエリア */

  /* ここは、はなまるエリア */

  .fade {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 1.5s, transform 4s;
}.fade.active {
	opacity: 1;
	transform: translateY(0px);
}
 

  /* ここまではなまるエリア */

 


/* ここまで */



/* ここは深浦さんがcss(⑤・⑥・⑦)をする場所 */








/* ここまで */