@charset "utf-8";
@media screen and (max-width:480px) {
 
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
 
}
/* ここは小松さんがcss（①・②）をする場所 */




/* ここまで */


/* ここは村上さんがcss(③・④)をする場所*/

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

    background-color: #f0f2f5;

}

/* ここは見出しエリア */

.context {
    font-size: 35px;
    color: blue;
    writing-mode: vertical-rl;
    position: absolute;
    top: 20px;
    left: 30%;
}

.image {
    position: absolute;
    left: 180px;
    bottom: 200px;
}

/* ここまで */

/* ここはボタンエリア */

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



.Button-style {
    width: 250px;
    font-size: 20px;
    display: inline-block;
    padding: 0.5em 1em 0.3em;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background-color: #ffcc00;
    cursor: pointer;
    margin-left: 10%;
    position: absolute;
    bottom: 140px;
 
  }

/* ここまでボタンエリア */


/*ここはタイマーエリア */

  .timer {
    position: absolute;
    bottom: 70px;
    left: 7px;
    font-size: 10px;
  }

  .timer2 {
    position: absolute;
    bottom: 1.5em;
    left: 97px;
  }
  
  /*ここまでタイマーエリア */

  /* ここは、はなまるエリア */

  .fade {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 1.5s, transform 4s;
    max-width: 320px;
    position: absolute;
    bottom: 250px;
}.fade.active {
	opacity: 1;
	transform: translateY(0px);
}
 

  /* ここまではなまるエリア */

 


/* ここまで */



/* ここは深浦さんがcss(⑤・⑥・⑦)をする場所 */








/* ここまで */