@charset "utf-8";

@media screen and (max-width:480px) {

  /*画面サイズが480px以下の場合ここの記述が適用される*/

}

/* ここは小松さんがcss（①・②）をする場所 */




/* ここまで */


/* ここは村上さんがcss(③・④)をする場所*/

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  height: 100%;

}


@keyframes colorchangeanimation-bg {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

/* ここは見出しエリア */

.context {
  font-size: 35px;
  color: blue;
  writing-mode: vertical-rl;
  /* top: 20px;
  left: 32%; */
  padding-top: 5vh;
  margin-left: auto;
  margin-right: auto;

  height: calc(100% - 170px);
  overflow: visible;
}

#task_text {
  display: inline;
  white-space: nowrap;
}

.image {
  position: absolute;
  left: 180px;
  bottom: 200px;
  font-size: 40px;
  color: blue;
  writing-mode: vertical-rl;
  position: absolute;
  top: 20px;
  right: 35%;
}

#task_image {
  position: absolute;
  /* left: 100px; */
  /* top: 20px; */
  margin-top: auto;
  margin-bottom: auto;
  right: 5px;
  width: 40%;
  height: auto;
}

/* ここまで */

/* ここはボタンエリア */

@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

.goodjob {
  font-size: x-large;
  margin-left: -70px;
}

/* solid015 */
.button_solid015 {
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;

}

.button_solid015 p {
  margin-bottom: 5px;
  font-weight: 600;
  color: #f52731;
  letter-spacing: 0.04rem;
  display: inline-block;
  position: relative;

}

.button_solid015 p:before,
.button_solid015 p:after {
  display: inline-block;
  position: absolute;
  top: 45%;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: #f52731;
  content: "";
}

.button_solid015 p:before {
  left: -30px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

.button_solid015 p:after {
  right: -30px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.button_solid015 a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #f52731;
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 50px;
  font-size: x-large;
  text-decoration: none;
}

.button_solid015 a:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}

.button_solid015 a:after {
  position: absolute;
  top: 50%;
  right: 20px;
  transition: 0.2s ease-in-out;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transform: translateY(-54%);
}


/* .Button-style { */
/* width: 250px;
    font-size: 20px;
    display: inline-block;
    padding: 0.5em 1em 0.3em;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background-color: blue;
    cursor: pointer;
    margin-left: 10%;
    position: absolute;
    bottom: 140px;
 
  } */

/* ここまでボタンエリア */


/*ここはタイマーエリア */

.timer_box {
  position: absolute;
  bottom: 110px;
  width: 100%;

}

.timer {
  /* position: absolute; */
  display: inline;
  /* bottom: 150px; */
  /* margin-bottom: 5px; */
  /*ほんとは嫌だけどpxサイズ指定でむりやり下げた*/
  /* left: 3px; */
  font-size: 18px;
  width: 100%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.timer2 {
  /* position: absolute; */
  /*bottom: 120px;  ほんとは嫌だけどpxサイズ指定でむりやり下げた
    /* left: 90px; */

  /* top: 75%; */
  /* left: 30%; */
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.timer2 {
  /* position: absolute; */
  /*bottom: 120px;  ほんとは嫌だけどpxサイズ指定でむりやり下げた
    /* left: 90px; */

  /* top: 75%; */
  /* left: 50%; */
  display: inline;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.timer2 input {
  background-color: #0599FF;
  color: white;
  font-size: large;
  border-radius: 10px;
}

/*ここまでタイマーエリア */

/* ここは、はなまるエリア */
.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s, transform 4s;
  max-width: 320px;
  position: absolute;
  /* bottom: 270px; */
  top: 10px;
  /* right: 2%; */
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10px;
}

.fade.active {
  opacity: 1;
  transform: translateY(0px);
}



/*ここまでタイマーエリア */

/* ここは、はなまるエリア */





/* ここまではなまるエリア */




/* ここまで */



/* ここは深浦さんがcss(⑤・⑥・⑦)をする場所 */








/* ここまで */