@charset "utf-8";

body{
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

/* ここはハムスターありがとうエリア */


.balloon5 {
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
    margin-left: 0;
    color: #fff;
    position: absolute;
    bottom: 90px;
    
  }
  
  .balloon5 .faceicon {
    float: left;
    margin-right: -90px;
    width: 90px;
  }
  
  .balloon5 .faceicon img{
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
  }
  
  .balloon5 .chatting {
    width: 100%;
  }
  
  .says {
    display: inline-block;
    position: relative; 
    margin: 5px 0 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: red;
    font-size: 14px;

    opacity: 0;   /* いったん非表示 */
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
  }

  .says.is-show {
    opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  }
  
  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid red;
  }
  
  .says p {
    margin: 0;
    padding: 0;
  }
.btn {
    padding-left: 45%;
    position: fixed;
    bottom: 10px;
}


.goodjob {
    color: blue;
    position: fixed;
    top: 320px;
    left: 30%;
}


 /* ここまでハムスターありがとうエリア */