<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <link rel="stylesheet" href="/static/css/0.css">
  <link rel="stylesheet" href="/static/css/normalize.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/js/localStrage.js"></script>
  <title>名前とキャラをいれてみよう!</title>
</head>

<body style="background-color: #D8FCDF;">
  <h1 class="profile">プロフィール</h1>
  <h3 class="name">なまえをいれよう!</h3>
  <input class="text" type="text" name="chkInput" value="">
  <!-- <div class="checkbox"> -->
  <div class="kuntyan" style="display: inline-block; text-align: left;">
    <input type="radio" name="c1" value="くん" checked>くん<br>

    <input type="radio" name="c1" value="ちゃん">ちゃん
    <!-- </div> -->

  </div>
  <h3 class="Character">すきなキャラをえらぼう!</h3>
  <div id="Character_btn">
    <button class="local_btn" style="padding: 0; border: 0;">
      <a href="#"><img src="/static/img/bear.png" alt="クマ" width="75px" height="75px"></a></button>
    <button style="padding: 0; border: 0;"><a href="#"><img src="/static/img/boys.png" alt="男の子" width="75px"
          height="75px"></a></button>
    <button style="padding: 0; border: 0;"><a href="#"><img src="/static/img/girls.png" alt="女の子" width="75px"
          height="75px"></a></button>
    <button style="padding: 0; border: 0;"><a href="#"><img src="/static/img/greenman.png" alt="グリーンマン" width="75px"
          height="75px"></a></button>
    <button style="padding: 0; border: 0;"><a href="#"><img src="/static/img/greenman2.png" alt="グリーンマン２" width="75px"
          height="75px"></a></button>
    <button style="padding: 0; border: 0;"><a href="#"><img src="/static/img/kanahebi.png" alt="カナヘビ" width="75px"
          height="75px"></a></button>
    <button style="padding: 0; border: 0;"><a href="#"><img src="/static/img/stand_kanahebi.png" alt="スタンドカナヘビ"
          width="75px" height="75px"></a></button>
    <button style="padding: 0; border: 0;"><a href="#"><img src="/static/img/hamster-nonbg.png" alt="男の子" width="75px"
          height="75px"></a></button>
  </div>
  <button class="Button-style">
    <div href="#">OK</div>
  </button>

  <script src="/static/js/0.js"></script>
</body>

</html>