<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" >
    <link rel="stylesheet" href="/static/css/0.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/localStrage.js"></script>
    <title>プロフィール</title>
</head>
<body>
    <h1 class="profile">プロフィール</h1>
    <h3 class="name">名前をいれよう!</h3>
    <input class="text" type="text" name="chkInput" value="">
  <div class="checkbox">
    <input type="radio" name="c1" value="くん">くん<br>
    <input type="radio" name="c1" value="ちゃん">ちゃん
  </div>
    <h3 class="Character">好きなキャラを選ぼう!</h3>
  <div class="Character_btn">
    <button class="Character_btn1"><a href="#"><img src="/static/img/bear.png" alt="クマ" width="50px"></a></button>
    <button class="Character_btn2"><img src="/static/img/boys.png" alt="男の子" width="50x"></button>
    <button class="Character_btn3"><img src="/static/img/girls.png" alt="女の子" width="50x"></button>
    <button class="Character_btn4"><img src="/static/img/greenman.png" alt="グリーンマン" width="50x"></button>
    <button class="Character_btn5"><img src="/static/img/greenman2.png" alt="グリーンマン２" width="50x"></button>
    <button class="Character_btn6"><img src="/static/img/kanahebi.png" alt="カナヘビ" width="50x"></button>
    <button class="Character_btn7"><img src="/static/img/stand_kanahebi.png" alt="スタンドカナヘビ" width="50x"></button>
    <button class="Character_btn8"><img src="/static/img/hamster-nonbg.png" alt="男の子" width="50x"></button>
  </div>
    <button class="Button-style"><a href="#">OK</a></button>
    <script src="/static/js/0.js"></script>
</body>
</html>