<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/css/00.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/localStrage.js"></script>
    <title>ようこそ!!</title>
</head>
<body>
        <h1>ようこそ♪</h1>
        <input class="input_text" type="text" value=""><input class="kun" value="">
        <img class="img" src="/static/img/boys.png" alt="男の子" width="400px">
        <div class="button_solid015" >
            <p>ひとりでできるもん</p>
            <a href="/1">はじめる</a>
          </div>
    <script src="/static/js/00.js"></script>
</body>
</html>