<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/2.css">
    <title>ながれをかくにんしよう！</title>
</head>
<body>
    <h1 class="title3">ながれをかくにんしよう！</h1>
    <div style="border: #ffb6c1 solid 1px; border-left: #ffb6c1 solid 10px; padding: 20px; background: #fff; font-size: 25px; margin: 30px">トイレ</div>
    <div style="border: #ffb6c1 solid 1px; border-left: #ffb6c1 solid 10px; padding: 20px; background: #fff; font-size: 25px; margin: 30px">かおあらい</div>
    <div style="border: #ffb6c1 solid 1px; border-left: #ffb6c1 solid 10px; padding: 20px; background: #fff; font-size: 25px; margin: 30px">ごはん</div>
    <div style="border: #ffb6c1 solid 1px; border-left: #ffb6c1 solid 10px; padding: 20px; background: #fff; font-size: 25px; margin: 30px">かばん じゅんび</div>
    <div style="border: #ffb6c1 solid 1px; border-left: #ffb6c1 solid 10px; padding: 20px; background: #fff; font-size: 25px; margin: 30px">はみがき</div>
    <div style="border: #ffb6c1 solid 1px; border-left: #ffb6c1 solid 10px; padding: 20px; background: #fff; font-size: 25px; margin: 30px">トイレ</div>

    <p>できるかな？</p>
    <button class="Button-style">やってみよう！</button>

</body>
</html>