<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/2.css">
    <title>ながれをかくにんしよう！</title>
</head>
<body>
    <h1 class="title">ながれをかくにんしよう！</h1>
        <div class="content">
            <div style="border: #ffb6c1 solid 1px; border-left: #ffb6c1 solid 10px; padding: 2px; background: #faf5f9; font-size: 23px; margin: 7px 40px;">トイレ</div>
                <img src="../static/img/pink_yajirusi.png" alt="写真" width ="40" height ="20">
            <div style="border: #ffb6c1 solid 1px; border-left: #ffb6c1 solid 10px; padding: 2px; background:#faf5f9; font-size: 23px; margin: 0 40px;">かおあらい</div>
                <img src="../static/img/pink_yajirusi.png" alt="写真" width ="40" height ="20">
            <div style="border: #ffb6c1 solid 1px; border-left: #ffb6c1 solid 10px; padding: 2px; background:#faf5f9; font-size: 23px; margin: 0 40px;">ごはん</div>
                <img src="../static/img/pink_yajirusi.png" alt="写真" width ="40" height ="20">
            <div style="border: #ffb6c1 solid 1px; border-left: #ffb6c1 solid 10px; padding: 2px; background:#faf5f9; font-size: 23px; margin: 0 40px;">かばん じゅんび</div>
                <img src="../static/img/pink_yajirusi.png" alt="写真" width ="40" height ="20">
            <div style="border: #ffb6c1 solid 1px; border-left: #ffb6c1 solid 10px; padding: 2px; background: #faf5f9; font-size: 23px; margin: 0 40px;">はみがき</div>
                <img src="../static/img/pink_yajirusi.png" alt="写真" width ="40" height ="20">
            <div style="border: #ffb6c1 solid 1px; border-left: #ffb6c1 solid 10px; padding: 2px; background: #faf5f9; font-size: 23px; margin: 0 40px;">トイレ</div>

    <!--吹き出しはじまり-->
  <div class="balloon5">
    <div class="faceicon">
      <img src="../static/img/smile_ham.png" alt="写真" width="94" height="94">
    </div>
  
    <div class="chatting">
      <div class="says">
        <p>きみならできる！</p>
      </div>
    </div>
  </div>
  <!--吹き出し終わり-->
    <div class="button_solid015">
        <p>おしてスタート！</p>
        <a href="#">はじめる</a>
    </div>
  
</body>
</html>