<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/2.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="/static/js/localStrage.js"></script>
  <script src="/static/js/2.js"></script>
  <title>ながれをかくにんしよう！</title>
</head>

<body>
  <h1 class="title">ながれをかくにんしよう！</h1>
  <div class="bg_pattern Polka"></div>
  <div class="content">

  </div>


  <div class="button_solid015">
    <p>おしてね！</p>
    <a href="/3">スタート</a>
  </div>
</body>

</html>

<!--吹き出しはじまり-->
<!-- <div class="balloon5">
    <div class="faceicon">
      <img src="../static/img/smile_ham.png" alt="写真" width="80" height="80">
    </div>
  
    <div class="chatting">
      <div class="says">
        <p>きみならできる！</p>
      </div>
    </div>
  </div> -->
<!--吹き出し終わり-->