<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/5.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/localStrage.js"></script>

    <script src="/static/js/5.js"></script>
    <title>ぜんぶクリア！</title>

</head>

<body>
    <h1>ぜんぶ クリア！</h1>

    <div class="movie_box">
        <div class="present_box">
            <img class="present" src="/static/img/present.png">
            <img class="himawari" src="/static/img/seed_of_himawari.png">
        </div>
    </div>


    <p style="text-align: right;">ゲット～♪</p>

    <a href="/6">
        <p class="arrow_right">ハムスターにエサをあげよう！</p>
    </a>


</body>

</html>