<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/5.css">
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/localStrage.js"></script>

    <script src="/static/js/5.js"></script>
    <title>ぜんぶクリア！</title>

</head>

<body>
  <body style="background-color: #faefef">
    <h1 class="all_clear"><span class="all_clear2">ぜんぶクリア！</span></h1>
    <div class="movie_box">
        <div class="present_box">
            <img class="present" src="/static/img/present.png">
            <img class="himawari" src="/static/img/seed_of_himawari.png">
        </div>
    </div>


<!--吹き出しはじまり-->
<div class="balloon5">
    <div class="faceicon">
      <img src="../static/img/walk1_ham.png" alt="歩くハムスター１" width="94" height="94">
    </div>
  
    <div class="chatting">
      <div class="says">
        <p>おめでとう！！</p>
        <p>ごほうびゲット～♪</p>
      </div>
    </div>
  </div>
    <!-- <p style="text-align: right;">ごほうびゲット～♪</p> -->

    <!-- <a href="/6"> -->
        <a href="/6" class="btn">ハムスターに<br>エサをあげよう！</a>
        <!-- <p class="arrow_right">ハムスターにエサをあげよう！</p> -->
        
    <!-- </a> -->


</body>

</html>