<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/6.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/localStrage.js"></script>

    <!-- <script src="/static/js/6.js"></script> -->
    <title>エサをあげよう！</title>
</head>

<body>

    <div class="movie_box">

        <!-- <div class="hum_box"> -->
        <img class="kyoton" src="/static/img/kyoton_ham.png" alt="">
        <!-- </div> -->
        <button>エサをあげる</button>
        <img class="himawari" src="/static/img/seed_of_himawari.png" alt="">

    </div>


    <p style="text-align: right;">ゲット～♪</p>

    <a href="/6">
        <p class="arrow_right">ハムスターにエサをあげよう！</p>
    </a>

</body>

</html>