<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/6.css">
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/localStrage.js"></script>

    <script src="/static/js/6.js"></script>
    <title>エサをあげよう！</title>
</head>

<body>

    <div class="movie_box">

        <!-- <div class="hum_box"> -->
        <img class="hum" src="/static/img/kyoton_ham2.png" alt="">
        <!-- </div> -->
        <button class="btn">エサをあげる</button>
        <img class="himawari" src="/static/img/seed_of_himawari.png" alt="">

    </div>
    <div class="oisii">
        <p>とってもおいしい💛<br>よくがんばったね！</p>
        <a href="/7">しゅうくんも<br>しゅっぱつ！！</a>

    </div>





</body>

</html>