<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/7.css">
    <script src="/static/js/localStrage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>ここでさいごだよー</title>
</head>
<body>
    <body style="background-color: #fff2f7"></body>
    <h1 class="name">しゅうくん、<br>いってらっしゃい♪</h1>
    <button class="omiguji_btn">おみくじをひいてね(１かいだけだよ!!)</button>
    <h3 class="omikuji_name">おみくじをひこう！</h3>
    <p class="omikuji_text">なにがでるかな？たのしみだね！！</p>
    <img class="omikuji_img" src="/static/img/omikuji.png" alt="omikuji_img" width="250">
    <div id="page-top"><a href="/1">TOP</a></div>

    <script src="/static/js/7.js"></script>
</body>
</html>