<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/7.css">
    <script src="/static/js/localStrage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>ここで最後だよー</title>
</head>
<body>
    <h1 class="name">しゅうくん、<br>いってらっしゃい💖</h1>
    
    <button class="omiguji_btn">ここを押すとおみくじが出るよー</button>
    <h3 class="omikuji_name">しゅうくん、おみくじ引いてみよう!!</h3>
    <p class="omikuji_text">朝からの運勢を占いましょう</p>
    <img class="omikuji_img" alt="omikuji_img" width="600">

    <script src="/static/js/7.js"></script>
</body>
</html>