<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/edit_task.css">
  <title>やることセットページ</title>
</head>

<body>
  <h1 class="title">やることをセットしよう！</h1>
  <div class="bg_pattern Polka"></div>
  <div id="scroll">
    <div id="content"></div>
    <div id="yazirusi"></div>

  </div>


  <div class="button_solid015">
    <!-- アイコン欄 -->
    <div class="icon_btn">
      <!-- <button style="" -->
      <button id="kigae" style="padding: 0; border: 0;"><img src="/static/img/kigae2.png" alt="きがえ"></button>
      <button id="toire" style="padding: 0; border: 0;"><img src="/static/img/toilet2.png" alt="トイレ"></button>
      <button id="syokuzi" style="padding: 0; border: 0;"><img src="/static/img/gohan.png" alt="しょくじ"></button>
      <button id="ugai" style="padding: 0; border: 0;"><img src="/static/img/ugaitearai2.png" alt="うがいてあらい"></button>
      <button id="kao" style="padding: 0; border: 0;"><img src="/static/img/kao2.png" alt="かおあらい"></button>
      <button id="kaban" style="padding: 0; border: 0;"><img src="/static/img/kaban2.png" alt="かばんようい"></button>
      <button id="hamigaki" style="padding: 0; border: 0;"><img src="/static/img/hamigaki2.png" alt="はみがき"></button>
      <button id="kataduke" style="padding: 0; border: 0;"><img src="/static/img/kataduke2.png" alt="かたづけ"></button>
      <button id="houkoku" style="padding: 0; border: 0;"><img src="/static/img/houkoku.png" alt="ほうこく"></button>


      <a id="reset" href="#" style="background-color: rgb(248, 82, 82);">RESET</a>
      <a id="submit" href="/1">セット完了</a>

    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="/static/js/localStrage.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script src="/static/js/edit_task.js"></script>


</body>

</html>