<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/js/localStrage.js"></script>
  <script src="/static/js/1.js"></script>
  <link rel="stylesheet" href="/static/css/1.css">
  <title>ひとりでできるもん</title>
</head>

<body>
  <h1>ひとりでできるもん</h1>

  <div class="kokuban">
    <span class="title">しゅうくん　おはよう！</span>
    <p>きょうは　9月12日　</p>
    <p>げつようび　です</p>
    <p>今のじかんは　6時30分 です</p>
  </div>

  <!--吹き出しはじまり-->
  <div class="balloon5">
    <div class="faceicon">
      <img src="../static/img/kyoton_ham.png" alt="写真" width="94" height="94">
    </div>
    <div class="chatting">
      <div class="says">
        <p>スタートボタンをおしてはじめてね！</p>
      </div>
    </div>
  </div>
  <!--吹き出し終わり-->

  <button class="Button-style">CLICK!</button>

</body>

</html>