<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bt_hanamaru.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>トイレはできるかな</title>
</head>
<body>
<!-- ここは見出しエリア -->

    <div class="context">
        <h1>トイレ</h1>
    </div>
        <img class="image" src="../static/toilet.png" alt="トイレ" width="200" height="200">
    



<!-- ここまで見出しエリア -->

<!-- ここはボタンエリア -->

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <a href="/4"><button class="Button-style"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i>できた!!</button></a>


<!-- ここまでボタンエリア -->

<!-- ここはタイマーエリア -->

<form name="timer">
  <div  class="timer">
    <input type="text" value="">分
    <input type="text" value="">秒<br>
  </div>
  <div class="stat_stop">
    <input type="button" value="スタート" onclick="cntStart()">
    <input type="button" value="ストップ" onclick="cntStop()">
  </div>
    </form>


<!-- ここまでタイマーエリア -->
       
    <script src="../static/js/timer.js"></script>
</body>
</html>