<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../hello.css">
    <title>よく出来ました笑</title>
</head>
<body>

  <!-- ここははなまるエリア -->
 
  <img class="hanamaru" src="../static/hanamaru.png" alt="はなまる" width="800" height="800">

  <!-- ここまではなまるエリア -->

   <!-- ここはハムスターありがとうエリア -->

            <!--吹き出しはじまり-->
              <div class="balloon5">
                <div class="faceicon">
                  <img src="../static/heart_ham.png" alt="ハートのハムスター">
                </div>
                <div class="chatting">
                  <div class="says">
                    <p>トイレしてくれてありがとう!</p>
                  </div>
                </div>
              </div>
            <!--吹き出し終わり-->

     <!-- ここまでハムスターありがとうエリア -->


  <script src="../hello.js"></script>
</body>
</html>