<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../hello.css">
    <title>よく出来ました笑</title>
</head>
<body>
    <img class="image" src="https://item-shopping.c.yimg.jp/i/l/yousay-do_4977524125921" alt="写真" width="800" height="800">
  <div class="">
    <p class="Thankyou">トイレしてくれて<br>ありがとう!</p>
  </div>
  <img src="../static/hamster-nonbg.png" alt="ハムスターの写真">
  <script src="../hello.js"></script>
</body>
</html>