<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bt_hanamaru.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/js/localStrage.js"></script>
    <script src="../static/js/timer.js"></script>
    <script src="../static/js/3.js"></script>
    <title>トイレはできるかな</title>
</head>

<body>
    <!-- ここは見出しエリア -->

    <div class="context">
        <h1></h1>
    </div>
    <img id="task_image" class="image" src="#" alt="トイレ" width="117" height="117">




    <!-- ここまで見出しエリア -->

    <!-- ここはボタンエリア -->

    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <a href="/4"><button class="Button-style"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i>できた!!</button></a> -->
    <div class="button_solid015">
        <p>おわったらクリック</p>
        <a href="/4">できた！</a>
    </div>
    <!-- ここまでボタンエリア -->

    <!-- ここはタイマーエリア -->

    <form name="timer">
        <div class="timer">
            <input type="text" value="">分
            <input type="text" value="">秒<br>
        </div>
        <div class="timer2">
            <input type="button" value="スタート" onclick="cntStart()">
            <input type="button" value="ストップ" onclick="cntStop()">
        </div>

    </form>


    <!-- ここまでタイマーエリア -->

</body>

</html>