<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bt_hanamaru.css">
    <link rel="stylesheet" href="../static/css/hum_talk.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>よく出来ました笑</title>
</head>
<body>

  <!-- ここははなまるエリア -->
 
  <img class="fade" src="../static/img/hanamaru.png" alt="はなまる" width="320" height="320">

  <!-- ここまではなまるエリア -->

   <!-- ここはハムスターありがとうエリア -->

            <!--吹き出しはじまり-->
              <div class="balloon5">
                  <div class="faceicon">
                    <img src="../static/img/heart_ham.png" alt="ハートのハムスター">
                  </div>
                  <p class="goodjob">よくできました!</p>
                  <div class="chatting">
                    <div class="says">
                      <p>トイレしてくれてありがとう!</p>
                    </div>
              </div>
            <!--吹き出し終わり-->
            <p class="btn"><a href="/3">次へ</a></p>
     <!-- ここまでハムスターありがとうエリア -->

     <script src="/static/js/localStrage.js"></script>
  <script src="../static/js/timer.js"></script>
  <script src="../static/js/4.js"></script>

  
</body>
</html>